div {
  text-align: center;
}

button {
  margin: 10px;
  width: 125px;
  height: 40px;
  border-radius: 5px;
  font-size: .8rem;
  background-color: lightgray;
  color: black;
  border: 1px solid lightgray;
  transition-duration: 0.4s;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}